body {
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main, header {
  position: relative;
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

textarea,
button {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  max-width: 600px;
  font-size: 1.1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

textarea {
  border: 1px solid #bbb;
  resize: none;
}

#outputArea {
  outline: none;
}

.disabled {
  cursor: not-allowed;
}

body.dark-mode {
  background-color: #181818;
  color: #e0e0e0;
}

.dark-mode button, .dark-mode textarea, .dark-mode .custom-file-upload, .dark-mode #loadGameBtn {
  background-color: #282828; 
  color: #e0e0e0;
  resize: none;
}

.dark-mode textarea::placeholder {
  color: #777;
}

.dark-mode button:hover, .dark-mode .custom-file-upload:hover, .dark-mode #loadGameBtn:hover {
  background-color: #383838;
}

.game-management {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box
}

.game-selection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.game-upload {
  display: flex;
  gap: 20px;
}

#gameSelect {
  padding: 5px 10px;
  font-size: 1.1rem;
}

#loadGameBtn, .custom-file-upload {
  padding: 5px 15px;
  cursor: pointer;
  background-color: #f4f4f4;
  border: none;
  transition: background-color 0.3s ease;
}

#gameFileInput {
  display: none;
}

.custom-file-upload {
  padding: 10px 15px;
  display: inline-block;
  cursor: pointer;
  background-color: #f4f4f4;
}

button:hover, #loadGameBtn:hover, .custom-file-upload:hover {
  background-color: #e4e4e4;
}

#fileName {
  padding-top: 10px;
}

.theme-switch-wrapper {
  align-self: start;
  position: relative;
  top: 10px;
}

.theme-switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 48px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ddd;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 16px;
}

input:checked + .slider {
  background-color: #444;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.slider:before {
  z-index: 2;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.icon {
  position: absolute;
  font-size: 16px; 
  top: 50%;
  transform: translateY(-50%);
  z-index: 1; 
  width: 24px;
  text-align: center; 
  line-height: 24px; 
}

.icon.sun {
  left: -28px;
  opacity: 1;  
}

.icon.moon {
  right: -28px;
  opacity: 0.3;  
}

input:checked + .slider .icon.sun {
  opacity: 0.3;
}

input:checked + .slider .icon.moon {
  opacity: 1;
}